<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% include meta.html %}

    <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
    <link href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic@1/dist/theme.min.css" rel="stylesheet"/>
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  </head>
  <body class="page {{page.bodyClass}}">
    {% include mobile-menu.html %}
    <div class="container mx-auto px-6 md:px-4">
      {% include header.html %}
      {{content}}
      {% include footer.html %}
    </div>
    {% include google-analytics.html %}
    <script type="text/javascript" src="{{ '/assets/js/hamburger.js' | relative_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch"></script>
    <script type="text/javascript">
      const { autocomplete, getAlgoliaResults } = window['@algolia/autocomplete-js'];
      const searchClient = algoliasearch("{{ site.algolia.application_id }}", "{{ site.algolia.search_only_api_key }}")
      autocomplete({
        container: '#search-autocomplete',
        placeholder: 'Search for posts',
        getSources({ query }) {
          return [
            {
              // sourceId: 'posts',
              getItems() {
                return getAlgoliaResults({
                  searchClient,
                  queries: [
                    {
                      indexName: '{{ site.algolia.index_name }}',
                      query,
                      params: {
                        hitsPerPage: 5,
                        attributesToSnippet: ['name:10', 'description:35'],
                        snippetEllipsisText: '…',
                      },
                    },
                  ],
                });
              },
              templates: {
                item({ item, components, html }) {
                  return html`<a class="aa-ItemWrapper" href="{{ site.baseurl }}${item.url.substring(1)}">
                    <div class="aa-ItemContent">
                      ${item.thumbnail ? html`<div class="aa-ItemIcon aa-ItemIcon--alignTop">
                        <img
                          src="{{ site.baseurl }}${item.thumbnail}"
                          alt="${item.title}"
                          width="40"
                          height="40"
                        />
                      </div>` : ""}
                      <div class="aa-ItemContentBody">
                        <div class="aa-ItemContentTitle">
                          ${components.Highlight({ hit: item, attribute: 'title' })}
                        </div>
                        <div class="aa-ItemContentDescription">
                          ${item.authors ? html`By <strong>${item.authors[0]}</strong> in ${' '}` : ""}
                          ${item.categories ? html`<strong>${item.categories[0]}</strong>` : ""}
                        </div>
                      </div>
                    </div>
                  </a>`;
                },
              },
            },
          ];
        },
        render({ children, render, html }, root) {
          render(html`<div class="aa-SomeResults">${children}</div>`, root);
        },
        renderNoResults({ children, render, html }, root) {
          render(html`<div class="aa-NoResults"><div class="aa-PanelLayout aa-Panel--scrollable">No posts found</div></div>`, root);
        },
      });
    </script>
  </body>
</html>
