---
layout: default
---

{% include heading.html heading=page.title description=page.description align="center" date=page.date %}

{% if page.authors %}
  <div class="flex flex-col pb-3 md:hidden">
    {% for author in page.authors %}
      {% include author-large.html
        author=author
      %}
    {% endfor %}
  </div>
{% endif %}

{% if page.image %}
<img width="1600" height="900" src="{{ page.image }}"/>
{% endif %}

<div class="flex flex-col md:flex-row py-6 md:py-12">

  <div class="w-full md:w-3/12 pr-3">
    {% if page.authors %}
      <div class="flex flex-col hidden md:flex mb-3 md:mb-6">
        {% for author in page.authors %}
          {% include author-large.html
        author=author
        %}
        {% endfor %}
      </div>
    {% endif %}

    {% if page.categories %}
      <div class="hidden md:block">
        {% for category in page.categories %}
          {% include category-badge.html %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="w-full md:w-9/12">
    <div class="prose post">
      {{ content }}
    </div>
  </div>

</div>

{% if page.categories %}
  <div class="py-6 mt-6 border-t-2 block md:hidden">
    <h3 class="text-sm font-medium mb-1">Categories</h3>
    <div>
      {% for category in page.categories %}
        {% include category-badge.html %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if page.comments %}
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

    var disqus_config = function () {
    this.page.url = "{{ page.url | absolute_url }}";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://a-trick-a-day.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}